html,
body {
  padding: 0;
  margin: 0;
  /* 1rem = 10px に指定 */
  font-size: 62.5%; 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

Footer{
  text-align: center;
  font-size: 2.0rem;
}

* {
  box-sizing: border-box;
}